<div class="nav-module menu-module col-md-8 col-xs-12 text-center text-left-xs">
    <ul class="menu">
        <li>
            <a href="#">
                Home
            </a>
        </li>
        <li>
            <a href="#">
                Features
            </a>
        </li>
        <li>
            <a href="#">
                Pricing
            </a>
        </li>
        <li>
            <a href="#">
                Contact
            </a>
        </li>
        <li>
            <a href="#">
                Blog
            </a>
        </li>
    </ul>
</div>
<!--end nav module-->
