  <body class="gradient--active">
        <div class="nav-container">
            <nav>
                <div class="nav-bar nav--absolute nav--transparent bg--dark"  data-fixed-at="400">
                    <div class="col-md-2 text-center-xs">
                        <div class="nav-module logo-module">
                            <a href="index.html">
                                <img class="logo" alt="logo" src="img/logo.png" />
                            </a>
                        </div>
                    </div>
                    <!--end cols-->

        <%= partial "navigation" %>

                    <!--end cols-->
                    <div class="col-md-2 text-right text-center-xs clearfix">
                        <div class="nav-module">
                            <a class="btn btn--sm btn--white btn--unfilled" href="#">
                                <span class="btn__text">
                                    Try ReloadSEO
                                </span>
                                <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                    <!--end cols-->
                </div>
                <!--end nav bar-->
                <div class="nav-mobile-toggle visible-sm visible-xs">
                    <i class="ion-drag"></i>
                </div>
                <!--end of toggle-->
            </nav>
        </div>
        <div class="main-container">

            <section class="height-80 imagebg section-hero-1 bg--primary" data-overlay="7">
                <div class="background-image-holder">
                    <img alt="image" src="images/home5.jpg" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>
                                Financial Management
                                <br class="hidden-xs" /> and so much more.
                            </h1>
                            <p>
                                Future-focussed business strategy by
                                <strong>Partner</strong>
                            </p>
                            <a href="#" class="btn btn--white btn--unfilled">
                                <span class="btn__text">
                                    Try ReloadSEO for Free!
                                </span>
                                <i class="ion-arrow-right-c"></i>
                            </a>
                            <a href="services-listing.html" class="btn btn--white btn--transparent">
                                <span class="btn__text">
                                    Explore features...
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
